*{
    margin:0;
    padding: 0;
}

@font-face{
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Regular.ttf');    
}

@font-face{
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Medium.ttf');    
    font-weight: 500;
}

@font-face{
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Bold.ttf');
    font-weight: bold;
}

html, body{
    font-family: 'GT Walsheim Pro';
    height: 100%;
   
}



.App{

    margin: 15px;
    padding: 35px 85px;
}



.nav-wrapper > ul{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper > ul li{
 
    list-style: none;
}
.nav-wrapper > ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color:  rgb(42, 65, 7);
    letter-spacing: 1.4px;
    font-weight: 400;
}



.header_widget{
    display: flex;
    align-items: center;
}

.header_search_input{
    font-family: 'GT Walsheim Pro';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    color:#868484;
 
    border-bottom: 2px solid #EDEDED;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 260px;
    outline: none;

    margin:50px;  
    padding:10px 25px 10px 25px;

}


.header_basket{
    position: relative;
}
.header_basket_count{
   position: absolute;
   background-color: rgb(249, 255, 243);
   box-shadow: 0 0 5px 0 rgb(136, 160, 146);
   width: 16px;
   height: 16px;
   text-align: center;
   border-radius: 50%;
   font-size: 14px;
   top:-10px;
   font-weight: bold;

    transform: translateX(50%);   
}





.main_header{
    display: flex;
    align-items: center;
  
   
}

.main_filter{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 250px;
}

.main_filter_name{
    font-size:40px;
    font-weight: 400;
    color:#081a13;
    margin-right: 120px;
}
.main_filter_btn{
    width: 55px;
    height: 55px;

    background-color:#fff;
    border-radius: 50%;

    outline: none;
    cursor: pointer;
    border:0;
    line-height: 55px;
    box-shadow: 0 15px 20px -2px #A0BBC8;
}

.main_filter_logo{    
    width:16px;   
    
    vertical-align: middle;

    position: relative;
}



.main_nav{
    margin: 50px;
    display: flex;
    justify-content: space-around;

}


.btn_prev,
.btn_next{
    width: 35px;
    height: 35px;

    background-color:#fff;
    border-radius: 50%;

    border:1px solid transparent;
    outline: none;

    font-size:30px;  
    
}

.btn_arrow{

    display: inline-block;
    vertical-align: 5px;
    color:#030e09;
    opacity: 0.7;
}
.btn_prev:hover,
.btn_next:hover{
    border: 1px solid #E7E7E7;
}

.btn_prev:hover .btn_arrow,
.btn_next:hover .btn_arrow{
    opacity: 1;
}

.filter_module{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;

    background-color: rgba(0,0,0,.4);
    z-index: 999999;

    display: flex;
    align-items: center;
}
.filter_body{
    max-width: 250px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;

    margin:0 auto;

    display: flex;
    flex-direction: column;
}


.input_field input{
    
    width: 100%;
    height: 30px;
    margin: 30px auto;
    border: 0;
    border-bottom: 1px solid #000;
  

   

}
.todo_item_wrapper{
  width: 100%;
  display:  flex; 
  flex-direction: column;
  justify-content: center;
}

.todo_item{
    margin: 1rem auto 0 ;
    list-style: none;
    width: 80%;
   
  
  }
  .todo_item.completed span{
    text-decoration: line-through;
  
  }
  .todo_item label{
  
    display: flex;
    align-items: left;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 0 3px 0 rgb(206, 203, 203); 
}
  
  .todo_item i{
    z-index: 2;
  }
   
  




  .wrapper_basket{
      max-width: 1200px;
      width: 90%;
      margin: 80px auto;
      background-color: #faf8f8;
      padding: 20px;
      box-shadow: 0 0 10px 0px gray;
  }
  .wrapper_basket h1{
      padding: 20px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.4px;
  }
  .wrapper_basket > hr{
      height: 1px;
      background-color: rgb(20, 31, 3);
      width: 90%;
      margin: 0 auto;
      border: none;
      color: rgb(20, 31, 3);
  }
  .basket_item_wrapper {
     
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      height: 180px;
      margin: 10px auto;
      padding: 10px;
      box-shadow: 0 0 1px 0 grey;

      font-size: 18px;
      background-color: rgb(255, 255, 255);
  

  }
  .basket_item_title{
      text-transform: uppercase;
      font-weight: normal;
  }
  .basket_item_wrapper img{
      width: 100px;
      height: 150px;
     
  }

  .basket_item_wrapper2{
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items:right;
      flex-direction: column;
  }
  .btn_delete{
      width: 10%;
      color: rgb(141, 15, 15);
      font-size: 16px;
      font-weight: 600;
      border: 0;
      box-shadow: 0 0 2px 0 grey;
      background-color: rgb(255, 251, 251);

  }
 



  .contact_wrapper{
      width: 100%;
      margin: 80px auto 0;
      display: flex;
      justify-content: space-between;
  }

  .contact_information{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      color: grey;
      letter-spacing: 1.4px;
  }
  .contact_information p{
      text-align:center;
  }
  .contact_information h1,  .contact_information h2{
      font-weight: normal;
  }
  .map{
    width:600px;
    height: 450px;
    border:0; 
    padding: 5px;
    box-shadow: 0 0 5px 0 black;
  }




  .about_wrapper{
      width: 100%;
      margin: 60px auto 0;
      background-color:  #faf8f8;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    
  }

  .about_image{
      background-image: url('https://sun9-1.userapi.com/c857232/v857232524/b1efc/F9pI18GxMDY.jpg');
     
      height: 300px;
      width: 100%;
      background-size: cover;
      box-shadow: 0px 0px 30px -10px #c3cfd3;
    
      background-repeat: no-repeat;
   
  }
  .about_video{
    margin: 30px auto;
    width:660px;
    height:315px;
    border:0; 
  }
  .diplom_wrapper{
      margin: 20px auto;
      display: flex;
  }
  .about_text_wrapper{
    margin: 40px auto;
    width: 80%;
    letter-spacing: 1.4px;
    text-align:center;

 }

  .diplom_wrapper img{
      width: 230px;
  
  }
  .about_text{
    width: 80%;
    margin: 20px;

  }
  .about_text p:nth-child(odd){
  
      font-weight: 500;
      margin: 10px;

  }



.main_page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   

    letter-spacing: 1.4px;
    font-size: 16px;
}

.main_page_text p:nth-child(odd){
    font-weight: 500;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;

}
.main_page_text li{
    padding: 5px;
    margin-left: 20px;
}

  .slider_wrapper{
      position: relative;
      width: 100%;
      height: 500px;
      margin: 50px auto;
      box-sizing: border-box;

      display: flex;
      align-items: center ;

      overflow: hidden;
  }

.slide {
    position: absolute;
    
    width: 100%;
    height: 480px;
    transition: all 1s;
}

.slide_prev{
    transform: translateX(-100%);

}

.slide_next{
    transform: translateX(100%);

}


.product_cart_wrapper{
    display:flex;
    flex-direction:column;
    margin:80px auto 0;   
}

.product_cart_btn{
    border:0;
    background:#fff;
    font-size:12px;
    color:black;
    letter-spacing:1.4px;
    text-align:left;
    width:100px;
    
}

.product_cart_title{
    text-transform:uppercase;
    padding:20px;
    text-align:center;
    font-size:25px;
    letter-spacing:1.4px;
  


}
.product_cart_wrapper >.slider_wrapper{
      position: relative;
      width: 60%;
      height: 500px;
      margin: 20px auto 0px;
      box-sizing: border-box;

      display: flex;
      align-items: center;

      overflow: hidden;
      border-bottom : 1px solid gray;
      border-top : 1px solid gray;
  }

  .product_cart_wrapper >.slider_wrapper img{   
      height:100%;
  }


 .product_cart_wrapper > .slide {
    position: absolute;
    
    width: 100%;
    height: 480px;
    transition: all 1s;
}

 .product_cart_wrapper .slide_prev{
    transform: translateX(-100%);

}

.product_cart_wrapper .slide_next{
    transform: translateX(100%);

}





.careful_wrapper{
    margin: 80px auto 0;
}

.form_wrapper{
    margin: 50px auto 30px;
    display: flex;
    width: 100%;
  
    justify-content: center;
}

.form{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 300px;
    font-weight: 400;
    background-color: #494949;
    border: 1px solid #202020;
    font-size: 16px;
   
}
.form .title {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.25em;
    
}
.form input:not(:last-child) {
    border: 0;
    width: 60%;
    
    padding-left: 40px;
    margin: 16px auto 0;
    font-size: 13px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #d1d1d1;
    
}

.btn_sabmit_form{

    border: 1px solid #d1d1d1;

  
    border-radius: 5px;
    width: 20%;
    padding:  5px 10px;
    background-color:  #494949;
    box-shadow: 0 0 3px 0  #d1d1d1;
    color: #d1d1d1;

}
.form_image{
    background-image: url('../image/forma.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 302px;
    width: 500px;

}